main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

form {
    text-align: center;
}

form button {
    margin-top: 15px;
}

main > button {
    margin: 15px;
}