<main *ngIf="!logged">
    <form autocomplete="off">
        <label> 
            Usuário: <br /> 
            <input [type]="inputType" [(ngModel)]="inputValue" (keypress)="enterPress($event)" name="username"/>            
        </label>

        
        <button (click)="switchInputType()">{{ inputType === "password" ? "Mostrar" : "Ocultar"}}</button>
    </form>
    
    <button (click)="loginAttempt()">Entrar</button>

    <div>
        <p *ngIf="isLoading">Carregando...</p>
    </div>
</main>

<div *ngIf="logged">
    <app-header [(login)]="logged"></app-header>
    <app-list-names></app-list-names>
</div>
