<div id="add-person">
    <button (click)="openModal()">Adicionar Participante</button>
    <app-base-modal [content_slug]="'add-participant'" *ngIf="isModalOpened()" (close_modal)="closeModal()"></app-base-modal>
</div>

<hr />

<details>
    <summary id="all-participants">{{checkedPeople.length}}/{{people.length}} membros</summary>
    
    <div id="select-names">
        <ng-container *ngFor="let person of people">
            <label class="select-names"> <input type="checkbox" (change)="checkPerson(person)" [checked]="person.checked"/> {{ person.name }}</label>
        </ng-container>
    </div>
</details>

<br />
<br />

<div id="buttons">
<button (click)="shuffleNames()" [disabled]="anyoneSelected()">Sortear</button>
<button (click)="selectAll()">Todos</button>
<button (click)="deletePeople()" [disabled]="!justOneSelected()">Deletar</button>
<button (click)="cleanShuffle()">Limpar</button>
</div>

<hr />

<div id="shuffled-names" *ngIf="shuffledNames.length > 0">
    <p>Sorteio gerado em: {{shuffledDate}}</p>    
    <ng-container *ngFor="let person of shuffledNames; let i = index">
        <div class="text-prayer">        
            <span>{{ person }}</span> 
            ora por 
            <span>{{ i === shuffledNames.length - 1 ? 
                shuffledNames[0] : 
                shuffledNames[i+1] 
            }}</span>
        </div>        
    </ng-container>
</div>
