<app-base-modal [content_slug]="'edit-participant'" [(opened)]="showEditParticipantModal" [prop]="editionParticipant" (propEvent)="getParticipants()"></app-base-modal>

<div id="add-person">
    <input type="text" #add_guest (input)="isGuestInputValid(add_guest)"/>
    <button (click)="addGuest(add_guest)" [disabled]="addGuestButtonDisabledFlag">Adicionar</button>
</div>

<hr />

<details>
    <summary class="participants">{{getCheckedMembers()}}/{{getTotalMembers()}} Membros</summary>
    
    <div class="select-names">
        <ng-container *ngFor="let person of participants">
            <ng-container *ngIf="isMember(person)">
                <label class="select-names"> <input type="checkbox" (change)="checkPerson(person)" [checked]="person.checked"/> {{ person.name }}</label>
            </ng-container>
        </ng-container>
    </div>
</details>

<hr/> 

<details>
    <summary class="participants">{{getCheckedGuests()}}/{{getTotalGuests()}} Visitantes</summary>
    
    <div class="select-names">
        <ng-container *ngFor="let person of participants">
            <ng-container *ngIf="isGuest(person)">
                <label class="select-names"> <input type="checkbox" (change)="checkPerson(person)" [checked]="person.checked"/> {{ person.name }}</label>
            </ng-container>
        </ng-container>
    </div>
</details>

<hr/> 

<br />
<br />

<div id="buttons">
<button (click)="shuffleNames()" [disabled]="anyoneSelected()">Sortear</button>
<button (click)="selectAll()">Todos</button>
<button (click)="promoteGuest()" [disabled]="!justOneGuestSelected()">Tornar Membro</button>
<button (click)="openEditParticipantModal()" [disabled]="!justOneSelected()">Editar</button>
<button (click)="cleanShuffle()">Limpar</button>
</div>

<hr />

<div id="shuffled-names" *ngIf="shuffledNames.length > 0">
    <p>Sorteio gerado em: {{shuffledDate}}</p>    
    <ng-container *ngFor="let person of shuffledNames; let i = index">
        <div class="text-prayer">        
            <span [className]="person.type === 'guest' ? 'guest' : '' ">{{ person.name }}</span> 
            ora por 
            <span [className]="((i === shuffledNames.length - 1) && (shuffledNames[0].type === 'guest')) ||
                                ((i < shuffledNames.length-1) && (shuffledNames[i+1].type === 'guest'))
                                ? 'guest' : ''">{{ i === shuffledNames.length - 1 ? 
                shuffledNames[0].name : 
                shuffledNames[i+1].name 
            }}</span>
        </div>        
    </ng-container>
</div>
